<%- include("partials/header") %>
<style>
	.container{
		margin: 50px;
	}
</style>
<!-- <%var noMatch;%>Nomatch is not defined issue -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<form action="/packages" method="GET">
				<div class="form-group">
					<input type="text" name="search" placeholder="Package search" class="form-control">
					<input type="submit" value="Search" class="btn btn-success">
				</div>
			</form>
		</div>
		<div class="col-6">
			<%if(noMatch !== undefined){%>
			<h2><%=noMatch%></h2>
			<%}%>
			<%package.forEach(function(pack){%>
				<div class="card mb-6 " style="width: 560px;margin: 10px;padding: 5px;border-radius: 40px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
				  <img class="card-img-top" src="<%=pack.image%>" alt="Card image cap" style="height: 200px;border-radius: 40px;">
				  <div class="card-img-overlay" style="color: white;">
					  <h3 class="card-title"><strong>₹<%=pack.price%></strong></h3>
					  <a href="/packages/<%=pack._id%>" class="btn btn-outline-warning">Checkit Out</a>
					  <% if(currentUser && currentUser.isAdmin){ %>
					  <form id="delete-form" action="/packages/delete/<%=pack._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete Package</button>
					  </form>
					  <%} %>
					</div>
				  <div class="card-body">
					  <h2 class="card-title"><%=pack.name%> <span style="color: purple;">by</span> <%=pack.agency%></h2>
					<p class="card-text"><%=pack.smdesc%></p>

					<h5>
					<%=pack.reviews.length%> Reviews	
					 </h5>
					 
				  </div>
				</div>
			<%})%>
		</div>
		<div class="col-md-2" style="padding: 10px;margin: 20px;">
			<h2>
				NEWSALERT/ADS
			</h2>
			
		</div>
		
		
	</div>
</div>



<% if(currentUser && currentUser.isAdmin){ %>
<a class="btn btn-primary" href="/packages/new" role="button">Add Packages</a>
<%} %>

<%- include("partials/footer") %>